# Banco de dados PostgreSQL (Neon, Render, ou local)
DATABASE_URL="postgresql://usuario:senha@host:porta/banco"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=coloque-um-segredo-aqui

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=seu-cloud-name
CLOUDINARY_API_KEY=sua-api-key
CLOUDINARY_API_SECRET=seu-api-secret

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMERO="5599999999999"
